:root {
    /* Hottest Colours Sprint 2021 from
  https://www.w3schools.com/colors/colors_2021.asp */
    --raspberry-sorbet: #d2386c;
    --rust: #b55a30;
    --burnt-coral: #e9897e;
    --marigold: #fdac53;
    --illuminating: #f5df4d;
    --green-ash: #a0daa9;
    --mint: #00a170;
    --cerulean: #9bb7d4;
    --french-blue: #0072b5;
    --amythist-orchid: #926aa6;
    --gradientOne: #f5f5f580;
    --gradientTwo: #d5d5d580;
    --progress: 0%;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
    overflow: hidden;
}

.container {
    display: flex;
    gap: 1vw;
}

.button {
    display: inline;
    width: 22.5vw;
    height: 42.5vh;
    border-radius: 2vw;
    border: 0.35vw solid white;
    filter: drop-shadow(10px 0px 20px slategray);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
